{% extends "admin/base_back.html.twig" %}

{% block title %}
	Commandes | Oriflam Médias
{% endblock %}

{% block body %}
	<h1>Commandes</h1>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<table class="table">
					<thead>
						<tr>
							<th>N° de commande</th>
							<th>Client</th>
							<th>Montant HT</th>
							<th>Statut</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for order in orders %}
							<tr>
								<td>{{ order.transactionId }}</td>
								{% if order.user.type is same as('INDIVIDUAL') %}
									<td>{{ order.user.firstname ~ ' ' ~ order.user.lastname }}</td>
								{% else %}
									<td>{{ order.user.company }}</td>
								{% endif %}
								<td>{{ order.cost }} €</td>
								<td>
									{% if order.status == "PENDING" %}
										En attente
									{% elseif order.status == 'PROCESSED' %}
										En cours d'envoi
									{% elseif order.status == 'SENT' %}
										Envoyé
									{% endif %}
								</td>
								<td>
									<a href="{{ path('order_show', {'id': order.id}) }}">Voir</a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="4">Aucune commande enregistrée</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
