{% extends "admin/base_back.html.twig" %}

{% block title %}
	Commandes | Oriflam Médias
{% endblock %}

{% block body %}
	<h1>Commandes</h1>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<table class="table">
					<thead>
						<tr>
							<th>N° de commande</th>
							<th>Label</th>
							<th>Slug</th>
							<th>actions</th>
						</tr>
					</thead>
					<tbody>
						{% for order in orders %}
							<tr>
								<td>{{ order.id }}</td>
								<td>{{ order.label }}</td>
								<td>{{ order.slug }}</td>
								<td>
									<a href="{{ path('order_show', {'id': order.id}) }}">show</a>
									<a href="{{ path('order_edit', {'id': order.id}) }}">edit</a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="4">no records found</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
