{% extends "admin/base_back.html.twig" %}

{% block title %}
	Commande
	{{ order.transactionId }}
{% endblock %}

{% block body %}
	{% set user = order.user %}
	<div class="row justify-content-center">
		<div class="col-4">
			<h1>Commande
				{{ order.transactionId }}</h1>
			<p>Payée avec :
				{{ order.paymentMode }}</p>
			<p>Coût total TTC :
				{{ order.cost * 1.20 }}€</p>
		</div>
		<div class="col-4">
			{% if user.type is same as('INDIVIDUAL') %}
				<h2>
					Utilisateur Particulier :
				</h2>
				<p>
					{{ user.firstname ~ ' ' ~ user.lastname }}
				</p>
			{% else %}
				<h2>
					Utilisateur Professionnel
				</h2>
				<p>
					{{ user.company }}
				</p>
			{% endif %}
			<p>
				{{ user.address }}
				<br>
				{{ user.postalCode }}
				<br>
				{{ user.city }}
				<br>
				{{ user.email }}
			</p>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-8 text-center my-3">
			{{ form_start(form) }}
			{{ form_widget(form.status) }}
			<button class="btn btn-primary mt-3" type="submit">Sauvegarder</button>
			{{ form_end(form) }}
		</div>
		<div class="col-8 text-center my-2">
			<a href="{{ path('send_bat', {'id':order.id}) }}" class="btn btn-primary">Envoyer le BAT</a>
		</div>
		<div class="col-8">
			<ul class="list-group">
				{% for product in order.products %}
					<li class="list-group-item">
						<div class="row order-product">
							<div class="col-5 order-product-name">
								<p>{{ product.name }}</p>
							</div>
							<div class="col-2 offset-5">
								{{ product.cost }}
								€ HT
							</div>
						</div>
					</li>
				{% endfor %}
				{% for option in order.options %}
					<li class="list-group-item">
						<div class="row order-product">
							<div class="col-5 order-product-name">
								<p>{{ option.product.name }}</p>
							</div>
							<div class="col-5">
								<p>{{ option.label }}</p>
							</div>
							<div class="col-2">
								{{ option.price }}
								€ HT
							</div>
						</div>
					</li>
				{% endfor %}
			</ul>
			{% if order.images %}
				<div class="row justify-content-center">
					<div class="col-12">
						<h2>Logo à ajouter</h2>
					</div>
					{% for image in order.images %}
						<div class="col-8">
							<a href="{{ asset('uploads/images/' ~ image.name ~ '.' ~ image.extension) }}" download>
								{% if image.extension == 'png' or image.extension == 'jpg' %}
									<img src="{{ asset('uploads/images/' ~ image.name ~ '.' ~ image.extension) }}" alt="" class="img-fluid">
								{% else %}
									Télécharger
									{{ image.name ~ '.' ~ image.extension }}
								{% endif %}
							</a>
						</div>
					{% endfor %}
				</div>
			{% endif %}
			{% if order.bat %}
				<div class="col-8 text-center">
					<a href="{{ asset('uploads/bat/' ~ order.bat) }}" class="btn btn-primary" download>Télécharger le BAT</a>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
