{% extends "front/base_front.html.twig" %}

{% block title %}
	L'Agence | Oriflam Médias
{% endblock %}

{% block body %}
	<div class="container-fluid company">
		<div class="company-top text-center">
			<h2 class="company-title d-inline">
				<img src="{{ asset('build/oeil_oriflam.svg') }}" class="eye" alt="">
				Qui sommes-nous ?
			</h2>
		</div>
		<div class="company-rounded-img">
			<img src="{{ asset('build/open_space.png') }}" alt="Une agence de communication de qualité">
		</div>
		<div class="row justify-content-center align-items-center company-middle">
			<div class="col-12 col-md-5">
				<div class="company-universe">
				<img src="{{ asset('build/Rond_rose.png') }}" alt="" class="eye">
					<h3>Univers graphique</h3>
					<p>
						La stratégie de marque de nos clients passe enfin par l’élaboration de leur univers graphique.
						<br>
						Nous cherchons à traduire l’esprit que vous souhaitez véhiculer à travers votre document : <i>pragmatisme, raffinement, dynamisme, citoyenneté, prestige...</i>
						<br>
						<br>
						Nous optimisons la mise en page et nous (re)structurons votre document afin de rendre vos supports plus puissants, plus impactants.
						<br>
						Nous vous aidons à trouver des illustrations valorisant votre message.
						<br>
						Nous apportons des éléments pictographiques pour rendre votre message encore plus évident, mais aussi plus léger, plus intuitif.
						<br>
						<br>
						Notre équipe propose au client d’appliquer rigoureusement leur charte graphique ou de la créer.
					</p>
				</div>
				<div class="company-realisations">
				<img src="{{ asset('build/Rond_rose.png') }}" alt="" class="eye">
					<h3>Réalisation de tout type de support</h3>
					<p>
						Rapports annuels, affiches, flyers, papeterie, journaux d’entreprise, journaux internes, catalogues, magazines, rapports d’activité, mailing, annonces presse, mise en page de présentations PPT, kakémonos, signalétique, enseigne, habillage véhicules...
					</p>
				</div>
				<div class="company-studio">
					<h3><span class="lozenge-left"></span>Studio graphique<span class="lozenge-right"></span></h3>
					<p>
						Oriflam Médias conseille, façonne, développe et accompagne.
						<br>
						L’agence est avant tout une équipe à taille humaine, proche, disponible et réactive. Elle met à votre disposition graphistes, journalistes, photographes, pigistes – spécialisés et qualifiés, en mesure de s’adapter à votre support.
						<br>
						Les graphistes sont vos interlocuteurs privilégiés pour vous conseiller et définir votre identité visuelle.
					</p>
				</div>
			</div>
			<div class="col-12 col-md-2 company-col-middle">
				<img src="{{ asset('build/carré_couleur.png') }}" alt="" class="square">
			</div>
			<div class="col-12 col-md-5 text-center">
				<div class="company-agency">
					<div class="company-agency-border"></div>
					<img src="{{ asset('build/oeil_oriflam.svg') }}" alt="" class="company-agency-eye">
					<div class="company-agency-title-container">
						<h3 class="company-agency-title">Agence de Communication</h3>
					</div>
					<ul class="list-unstyled company-list">
						<li>Création graphique</li>
						<li>Charte graphique</li>
						<li>Logo</li>
						<li>Illustration</li>
						<li>Mise en page</li>
						<li>Colorimétrie</li>
						<li>Communication produit</li>
						<li>Identité visuelle</li>
						<li>Supports d’édition</li>
						<li>Création de supports de communication</li>
						<li>Logotype</li>
						<li>Illustration</li>
						<li>Recherches typographiques</li>
						<li>Colorimétrie</li>
						<li>etc.</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row justify-content-center company-bottom">
			<div class="col-12 col-sm-4 text-center">
				<h2>Contact :</h2>
				<p>
					20 rue Flandres-Dunkerque
					<br>
					45160 OLIVET
					<br>
					Tél. 02 38 23 77 62
				</p>
				<p>oriflam-medias@editions-lebakh.fr</p>
			</div>
		</div>
	</div>
{% endblock %}
