{% extends 'front/base_front.html.twig' %}

{% block title %}Accueil | Oriflam Medias
{% endblock %}

{% block body %}
	<main class="container-fluid home">
		<section class="row justify-content-center">
			<div class="col-12">
				<div id="carouselHome" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img src="{{ asset('build/home-slider-1.png') }}" alt="" class="d-block w-100">
						</div>
						<div class="carousel-item">
							<img src="{{ asset('build/home-slider-2.jpg') }}" alt="" class="d-block w-100">
						</div>
					</div>
					<a href="#carouselHome" class="carousel-control-prev" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Précédent</span>
					</a>
					<a href="#carouselHome" class="carousel-control-next" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Suivant</span>
					</a>
				</div>
			</div>
		</section>
		<section class="row justify-content-center">
			<div class="col-12 text-center my-3">
				<h2 class="home-subtitle">Vos supports de communication de qualité</h2>
				<div class="row justify-content-center">
					<article class="col-6 col-lg-4 text-center my-3">
						<a href="" class="home-thumbnail" title="">
							<img src="{{ asset('build/note_book.png') }}" alt="notebooks" class="home-thumbnail-img">
							<h3 class="underthumb">Notebooks</h3>
						</a>
					</article>
					<article class="col-6 col-lg-4 text-center my-3">
						<a href="" class="home-thumbnail" title="Agendas">
							<img src="{{ asset('build/AGENDA_THUMB.png') }}" alt="agendas" class="home-thumbnail-img">
							<h3 class="underthumb">Agendas</h3>
						</a>
					</article>
					<article class="col-6 col-lg-4 text-center my-3">
						<a href="" class="home-thumbnail" title="Calendriers">
							<img src="{{ asset('build/CALENDRIER.png') }}" alt="calendriers" class="home-thumbnail-img">
							<h3 class="underthumb">Calendriers</h3>
						</a>
					</article>
					<article class="col-6 col-lg-4 text-center my-3">
						<a href="" class="home-thumbnail" title="Flyers">
							<img src="{{ asset('build/FLYER.png') }}" alt="flyers" class="home-thumbnail-img">
							<h3 class="underthumb">Affiches - Flyers - Posters</h3>
						</a>
					</article>
					<article class="col-6 col-lg-4 text-center my-3">
						<a href="" class="home-thumbnail" title="Brochures">
							<img src="{{ asset('build/BROCHURES.png') }}" alt="brochures" class="home-thumbnail-img">
							<h3 class="underthumb">Brochures</h3>
						</a>
					</article>
					<article class="col-6 col-lg-4 text-center my-3">
						<a href="" class="home-thumbnail" title="Roll-ups">
							<img src="{{ asset('build/ROLL_UP.png') }}" alt="roll ups" class="home-thumbnail-img">
							<h3 class="underthumb">Roll up - Kakemono</h3>
						</a>
					</article>
					<article class="col-6 col-lg-4 text-center my-3">
						<a href="" class="home-thumbnail" title="Bloc-notes">
							<img src="{{ asset('build/BLOC_NOTES.png') }}" alt="bloc notes" class="home-thumbnail-img">
							<h3 class="underthumb">Bloc notes</h3>
						</a>
					</article>
					<article class="col-6 col-lg-4 text-center my-3">
						<a href="" class="home-thumbnail" title="Cartes de visite">
							<img src="{{ asset('build/CARTE_DE_VISITE.png') }}" alt="cartes de visite" class="home-thumbnail-img">
							<h3 class="underthumb">Cartes de visite</h3>
						</a>
					</article>
					<article class="col-6 col-lg-4 text-center my-3">
						<a href="" class="home-thumbnail" title="Cartes de correspondance">
							<img src="{{ asset('build/CARTE_DE_CORRESPONDANCE.png') }}" alt"cartes de correspondance" class="home-thumbnail-img">
							<h3 class="underthumb">Cartes de correspondance</h3>
						</a>
					</article>
				</div>
			</div>
		</section>
		<section class="row justify-content-center contact-us align-items-center">
			<div class="col-12 col-lg-8 ">
				<p>Vous avez une demande ? Une envie particulière ?
					<br>
					Nos spécialistes sont à votre écoute</p>
			</div>
			<div class="col-10 col-lg-2">
				<a href="{{ path('contact') }}" class="btn btn-primary w-100 rounded-0">
					Contactez-nous
				</a>
			</div>
		</section>
		<section class="row justify-content-center align-items-center">
			<div class="col-10 col-lg-8 home-description">
				<p>Texte descriptif</p>
			</div>
			<div class="col-10 col-lg-2">
				<a href="{{ path('company') }}" class="btn btn-primary w-100 rounded-0">
					Qui sommes-nous ?
				</a>
			</div>
		</section>
	</main>
{% endblock %}
