{% extends 'front/base_front.html.twig' %}

{% block title %}Accueil | Oriflam Medias
{% endblock %}

{% block body %}
	<main class="container-fluid home">
		<section class="row justify-content-center">
			<div class="col-12">
				<div id="carouselHome" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img src="{{ asset('build/home_flyer.png') }}" alt="" class="d-block w-100">
						</div>
						<div class="carousel-item">
							<img src="{{ asset('build/home_computer.png') }}" alt="" class="d-block w-100">
						</div>
					</div>
					<a href="#carouselHome" class="carousel-control-prev" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Précédent</span>
					</a>
					<a href="#carouselHome" class="carousel-control-next" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Suivant</span>
					</a>
				</div>
			</div>
		</section>
		<section class="row justify-content-center">
			<div class="col-12 text-center my-3">
				<h2 class="home-subtitle">Vos supports de communication de qualité</h2>
				<div class="row justify-content-center">
				{% for category in categories %}
					<article class="col-6 col-lg-4 text-center my-3">
						<a href="{{ path('category', {slug: category.slug}) }}" class="home-thumbnail" title="">
						{% if category.image is not null %}
							<img src="{{ asset('/uploads/images/' ~ category.image.name ~ '.' ~ category.image.extension) }}" alt="{{ category.label }}" class="home-thumbnail-img">
						{% endif %}
							<h3 class="underthumb">{{ category.label }}</h3>
						</a>
					</article>
				{% endfor %}
				</div>
			</div>
		</section>
		<section class="row justify-content-center contact-us align-items-center">
			<div class="col-12 col-lg-8 ">
				<p>Vous avez une demande ? Une envie particulière ?
					<br>
					Nos spécialistes sont à votre écoute</p>
			</div>
			<div class="col-10 col-lg-2">
				<a href="{{ path('contact') }}" class="btn btn-primary w-100 rounded-0">
					Contactez-nous
				</a>
			</div>
		</section>
		<section class="row justify-content-center align-items-center home-description">
			<div class="col-10 col-lg-8">
				<p>Texte descriptif</p>
			</div>
			<div class="col-10 col-lg-2">
				<a href="{{ path('company') }}" class="btn btn-primary w-100 rounded-0">
					Qui sommes-nous ?
				</a>
			</div>
		</section>
	</main>
{% endblock %}
