{% extends 'front/base_front.html.twig' %}

{% block title %}Accueil | Oriflam Medias
{% endblock %}

{% block body %}
	<div class="container-fluid home">
		<div class="row justify-content-center">
			<div class="col-6">
				<img src="{{ asset('build/logo_oriflam.png') }}" alt="logo" class="home-logo img-fluid my-3">
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-8 text-center my-3">
				<h2 class="home-subtitle">Vos supports de communication de qualité</h2>
			</div>
		</div>
		<div class="row justify-content-between mb-5">
			<div class="col-3 home-thumbnail">
				<div class="product-container">
					<a href="{{ path('calendars') }}">
						<img src="{{ asset('build/calendrier_vignette.jpg') }}" alt="" class="img-fluid">
						<div class="product-container-label">
							<p class="home-thumbnail-text">CALENDRIERS</p>
						</div>
					</a>
				</div>
			</div>
			<div class="col-3 home-thumbnail">
				<div class="product-container">
					<a href="{{ path('agendas') }}">
						<img src="{{ asset('build/agendas_vignettes.jpg') }}" alt="" class="img-fluid">
						<div class="product-container-label">
							<p class="home-thumbnail-text">AGENDAS & NOTEBOOKS</p>
						</div>
					</a>
				</div>
			</div>
			<div class="col-3 home-thumbnail">
				<div class="product-container">
					<a href="{{ path('communication') }}">
						<img src="{{ asset('build/com_vignette.jpg') }}" alt="" class="img-fluid">
						<div class="product-container-label">
							<p class="home-thumbnail-text">COMMUNICATION</p>
						</div>
					</a>
				</div>
			</div>
			<div class="col-3 home-thumbnail">
				<div class="product-container">
					<a href="{{ path('contact') }}">
						<img src="{{ asset('build/contact_vignette.jpg') }}" alt="" class="img-fluid">
						<div class="product-container-label">
							<p class="home-thumbnail-text text-white">CONTACT</p>
						</div>
					</a>
				</div>
			</div>
			<div class="col-12 text-center">
				<p>
					Affiches - Agendas - Beaux livres personnalisés - Brochures commerciales - Cartes de visite - Calendriers - Kakemonos - Flyers - Magazines - Note books - Roll-ups
				</p>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-6">
				<a href="{{ path('contact') }}" class="btn btn-primary w-100 rounded-0">
					DEMANDE PARTICULIÈRE
				</a>
			</div>
		</div>
	</div>
{% endblock %}
