{% extends "front/base_front.html.twig" %}

{% block title %}
	Agendas & Notebooks | Oriflam Médias
{% endblock %}

{% block body %}
	<div class="container-fluid agendas">
		<div class="row agendas-top position-absolute justify-content-end">
			<div class="col-2">
				<img src="{{ asset('build/logo_oriflam.png') }}" alt="logo" class="img-fluid">
			</div>
		</div>
		<div class="row agendas-title justify-content-start mt-3">
			<div class="col-8 offset-2">
				<h1 class="agendas-title-text">À vos agendas !</h1>
			</div>
		</div>
		<div class="row agendas-middle">
			<div class="col-6 agendas-middle-left">
				<div class="row agendas-middle-left-top">
					<div class="col-2">
						<img src="{{ asset('build/logo_oriflam.png') }}" alt="" class="img-fluid">
					</div>
				</div>
				<div class="row agendas-middle-left-middle mt-5">
					<div class="col-6 agendas-middle-left-middle-left">
						<p class="agendas-middle-left-middle-title">
							Agenda personnalisé logo 2021
						</p>
						<p>
							Couverture noir en cuir souple personnalisé avec porte-stylo
							<br>
							Possibilité de personnalisation avec le logo de votre entreprise
						</p>
						<img src="{{ asset('build/agenda.png') }}" alt="" class="img-fluid">
						<img src="{{ asset('build/agendas2.jpg') }}" alt="" class="img-fluid">
					</div>
					<div class="col-6 agendas-middle-left-middle-right">
						<p class="agendas-middle-left-middle-title">
							Notebook personnalisé
						</p>
						<p>
							Carnets à couverture rigide personnalisés A5
							<br>
							<br>
							Possibilité de personnalisation avec le logo de votre entreprise
						</p>
						<img src="{{ asset('build/notebook1.jpg') }}" alt="" class="img-fluid">
						<img src="{{ asset('build/notebook2.jpg') }}" alt="" class="img-fluid">
					</div>
				</div>
			</div>
			<div class="row agendas-middle-right">
				<div class="col-8">
					{% if agendas is not empty %}
						<div class="agendas-middle-right-agendas">
							<p class="agendas-middle-right-agendas-title">
								Agenda
							</p>
							<ul class="list-group">
							{% for agenda in agendas %}
								<li class="list-group-item">
									<div class="row">
										<div class="col-6">
											<p>{{ agenda.name }}</p>
										</div>
										<div class="col-2">
											<button class="btn btn-primary rounded-0">
												<i class="fas fa-cart-plus"></i>
											</button>
										</div>
									</div>
								</li>
							{% endfor %}
							</ul>
						</div>
					{% endif %}
					{% if notebooks is not empty %}
						<div class="agendas-middle-right-notebooks">
							<p class="agendas-middle-right-notebooks-title">
								Notebook
							</p>
							<ul class="list-group">
							{% for notebook in notebooks %}
								<li class="list-group-item">
									<div class="row">
										<div class="col-6">
											<p>{{ agenda.name }}</p>
										</div>
										<div class="col-2">
											<button class="btn btn-primary rounded-0">
												<i class="fas fa-cart-plus"></i>
											</button>
										</div>
									</div>
								</li>
							{% endfor %}
							</ul>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
