{% extends "front/base_front.html.twig" %}

{% block title %}
	Agendas & Notebooks | Oriflam Médias
{% endblock %}

{% block body %}
	<div class="container-fluid agendas">
		<div class="row agendas-top position-absolute justify-content-end">
			<div class="col-2">
				<img src="{{ asset('build/logo_oriflam.png') }}" alt="logo" class="img-fluid">
			</div>
		</div>
		<div class="row agendas-title justify-content-start mt-3">
			<div class="col-8 offset-2">
				<h1 class="agendas-title-text">À vos agendas !</h1>
			</div>
		</div>
		<div class="row agendas-middle">
			<div class="col-5 agendas-middle-left">
				<div class="row agendas-middle-left-middle mt-5">
					<div class="col-6 agendas-middle-left-middle-left">
						<p class="agendas-middle-left-middle-title">
							Agenda personnalisé logo 2021
						</p>
						<p>
							Couverture noir en cuir souple personnalisé avec porte-stylo
							<br>
							<br>
							<span class="font-weight-bold">Possibilité de personnalisation avec le logo de votre entreprise</span>
						</p>
						<img src="{{ asset('build/agenda.png') }}" alt="" class="img-fluid">
						<img src="{{ asset('build/agendas2.png') }}" alt="" class="img-fluid">
					</div>
					<div class="col-6 agendas-middle-left-middle-right">
						<p class="agendas-middle-left-middle-title">
							Notebook personnalisé
						</p>
						<p>
							Carnets à couverture rigide personnalisés A5
							<br>
							<br>
							<span class="font-weight-bold">Possibilité de personnalisation avec le logo de votre entreprise</span>
						</p>
						<img src="{{ asset('build/notebook_cerf.png') }}" alt="" class="img-fluid">
					</div>
				</div>
			</div>
			<div class="col-7 agendas-middle-right">
				<div class="row">
					{% if agendas is not empty %}
						<div class="col-12 agendas-middle-right-agendas pt-5">
							<p class="agendas-middle-right-agendas-title">
								Agenda
							</p>
							<ul class="list-group">
								{% for agenda in agendas %}
									<li class="list-group-item row">
										<form action="" class="add-to-cart">
											<div class="row align-items-center">
												<div class="col-4 d-flex align-items-center">
													<p class="m-0">{{ agenda.name }}</p>
												</div>
												{% if agenda.options is not null %}
													{% set options = agenda.options %}
													<div class="col-4 d-flex align-items-center">
														<select name="options-{{ agenda.id }}" class="form-control options-select">
															{% for option in options %}
																<option data-price="{{ option.price }}" value="{{ option.id }}">
																	{{ option.label }}
																</option>
															{% endfor %}
														</select>
													</div>
												{% endif %}
												<div class="col-2 d-flex align-items-center">
													<p class="price d-inline-block m-0"></p>
												</div>
												<div class="col-2 d-flex align-items-center">
													<input type="hidden" value="{{ agenda.id }}">
													<button type="submit" class="btn btn-primary rounded-0">
														<i class="fas fa-cart-plus"></i>
													</button>
												</div>
												<div class="col-12 mt-3">
													<div class="row">
														<div class="col-3">
															<img src="{{ asset('build/format1.png') }}" alt="" class="img-fluid">
															<p class="format-label">
																Format 1
															</p>
														</div>
														<div class="col-3">
															<img src="{{ asset('build/format2.png') }}" alt="" class="img-fluid">
															<p class="format-label">
																Format 2
															</p>
														</div>
														<div class="col-3">
															<img src="{{ asset('build/format3.png') }}" alt="" class="img-fluid">
															<p class="format-label">
																Format 3
															</p>
														</div>
														<div class="col-3">
															<img src="{{ asset('build/format4.png') }}" alt="" class="img-fluid">
															<p class="format-label">
																Format 4
															</p>
														</div>
													</div>
												</div>
											</div>
										</form>
										<div class="col-12 mt-3">
											<p>{{ agenda.description }}</p>
											<ul>
												{% for type, feature in agenda.features %}
													<li class="row">
														<div class="col-4">
															{{ type }}
														</div>
														<div class="col-8">
															{{ feature }}
														</div>
													</li>
												{% endfor %}
											</ul>
										</div>
									</li>
								{% endfor %}
							</ul>
						</div>
					{% endif %}
					{% if notebooks is not empty %}
						<div class="col-12 agendas-middle-right-notebooks mt-5">
							<p class="agendas-middle-right-notebooks-title">
								Notebook
							</p>
							<ul class="list-group">
								{% for notebook in notebooks %}
									<li class="list-group-item">
										<form class="add-to-cart">
											<div class="row">
												<form action="" class="add-to-cart">
													<div class="col-4 d-flex align-items-center">
														<p class="m-0">{{ notebook.name }}</p>
													</div>
													<input type="hidden" value="{{ notebook.id }}" class="product-id">
													{% if notebook.options is not null %}
														{% set options = notebook.options %}
														<div class="col-4 d-flex align-items-center">
															<select name="options-{{ notebook.id }}" class="form-control options-select">
																{% for option in options %}
																	<option data-price="{{ option.price }}" value="{{ option.id }}">
																		{{ option.label }}
																	</option>
																{% endfor %}
															</select>
														</div>
													{% endif %}
													<div class="col-2 d-flex align-items-center">
														<p class="price d-inline-block m-0"></p>
													</div>
													<div class="col-2 d-flex align-items-center">
														<button type="submit" class="btn btn-primary rounded-0">
															<i class="fas fa-cart-plus"></i>
														</button>
													</div>
												</form>
												<div class="col-12 mt-3">
													<p>{{ notebook.description }}</p>
													<ul>
														{% for type, feature in notebook.features %}
															<li class="row">
																<div class="col-4">
																	{{ type }}
																</div>
																<div class="col-8">
																	{{ feature }}
																</div>
															</li>
														{% endfor %}
													</ul>
												</div>
											</div>
										</form>
									</li>
								{% endfor %}
							</ul>
						</div>
					{% endif %}
				</div>
				{% include "front/category/_contact-us.html.twig" %}
			</div>
		</div>
	</div>
{% endblock %}
