{% extends 'front/base_front.html.twig' %}

{% block title %}Beaux Livres | Oriflam Medias
{% endblock %}

{% block body %}
	<div class="container-fluid books">
		<div class="row books-top position-absolute justify-content-end">
			<div class="col-2">
				<img src="{{ asset('build/logo_oriflam.png') }}" alt="logo" class="img-fluid">
			</div>
		</div>
		<div class="row books-title justify-content-start">
			<div class="col-8 offset-2 mt-3">
				<h1 class="books-title-text">
					Réalisez vos beaux livres
				</h1>
			</div>
		</div>
		<div class="row books-middle">
			<div class="col-6 books-middle-left">
				<div class="row books-middle-left-top">
					<div class="col-6 offset-3">
						Couverture cartonnées, papier intérieur de qualité
												jusqu’à 60 pages de photos, 2 formats au choix
					</div>
				</div>
				<div class="row justify-content-start">
					<div class="col-2">
						<img src="{{ asset('build/logo_oriflam.png') }}" alt="" class="img-fluid">
					</div>
				</div>
				<div class="row align-items-center books-middle-left-middletop">
					<div class="col-2 offset-1">
						<p>Grand format à l'italienne</p>
					</div>
					<div class="col-6">
						<img src="{{ asset('build/livre_cerf.png') }}" alt="" class="img-fluid">
					</diCarnetsàcouverturerigidepersonnalisésA5Possibilitédepersonnalisationaveclelogodevotreentreprisev>
				</div>
				<div class="row books-middle-left-middle">
					<div class="col-6">
						<img src="{{ asset('build/livre_loiret.png') }}" alt="" class="img-fluid">
					</div>
					<div class="col-6">
						<img src="{{ asset('build/LIVRE_HAUT.png') }}" alt="" class="img-fluid">
						<p>Grand format portrait</p>
					</div>
				</div>
				<div class="row books-middle-left-bottom">
					<div class="col-6">
						<p class="books-middle-left-bottom-text">
							<span class="font-weight-bold">Caractéristiques du produit</span><br>
							Livres photo A4 couverture rigide
							<br>
							papier photo mat 190 g/m² - CMJN 4/4 (quadri 2 faces)
						</p>
						<p class="books-middle-left-bottom-text">
							<span class="font-weight-bold">Couverture</span><br>
							4 pages carton 2 mm recouvert 170g/m² -  CMJN 4/0 (quadri 1 face)
							<br>
							Finition couverture : Pelliculage brillant recto
							<br>
							Relié par collage sur sur la gauche
							<br>
							Livraison : Emballage séparément sous plastique dans un delai de 20 jours
						</p>
					</div>
				</div>
			</div>
			<div class="col-6 books-middle-right">
				<ul class="list-group">
					{% for product in products %}
						<li class="list-group-item">
							<div class="row">
								<div class="col-6">
									<p class="word-wrap">
										{{ product.name }}
									</p>
									<button class="btn btn-primary rounded-0">
										<i class="fas fa-cart-plus"></i>
									</button>
								</div>
								{% if product.options is not null %}
									{% set options = product.options %}
									<div class="col-6">
										<select name="options-{{ product.id }}" class="form-control">
											{% for option in options %}
												<option value="{{ option.id }}">{{ option.label }}
													{{ option.price }}</option>
											{% endfor %}
										</select>
									</div>
								{% endif %}
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
