{% extends 'front/base_front.html.twig' %}

{% block title %}Calendriers | Oriflam Medias
{% endblock %}

{% block body %}
	<div class="container-fluid calendar">
		<div class="row calendar-top position-absolute justify-content-end">
			<div class="col-2">
				<img src="{{ asset('build/logo_oriflam.png') }}" alt="logo" class="img-fluid">
			</div>
		</div>
		<div class="row calendar-title justify-content-start">
			<div class="col-8 offset-2">
				<h1 class="calendar-title-text">Des calendriers professionnels à votre image</h1>
			</div>
		</div>
		{% include "front/category/_contact-us.html.twig" %}
		<div class="row calendar-middletop">
			<div class="col-6">
				<p>
					À la fois pratique, élégant et utile c’est le plus connu des calendriers publicitaires. À accrocher au mur ou à poser sur un
										bureau, un calendrier bancaire trouvera forcement une place de choix. Ce support de communication est un incontournable
										pour vous aider à organiser vos réunions et vos rendez-vous du quotidien
					<br>
					<br>
					<span class="font-weight-bold">
						Une zone de « repiquage » est réservée à la mise en page de votre logo et de vos coordonnées.
						<br>
						Avec possibilité d’insertion de vos photos d’entreprise
					</span>
				</p>
				<div class="row">
					<div class="col-12">
						<img src="{{ asset('build/Calendrier_photo.png') }}" alt="" class="img-fluid">
					</div>
				</div>
			</div>
			{% if others is not null %}
				<div class="col-6">
					<ul class="list-group pt-5">
						{% for other in others %}
							<li class="list-group-item">
								<form action="" class="add-to-cart">
									<div class="row">
										<div class="col-4 d-flex align-items-center">
											<p class="word-wrap m-0">
												{{ other.name }}
											</p>
										</div>
										{% if other.options is not null %}
											{% set options = other.options %}
											<div class="col-4 d-flex align-items-center">
												<select name="options-{{ other.id }}" class="form-control options-select">
													{% for option in options %}
														<option data-price="{{ option.price }}" value="{{ option.id }}">
															{{ option.label }}
														</option>
													{% endfor %}
												</select>
											</div>
										{% endif %}
										<div class="col-2 d-flex align-items-center">
											<p class="price d-inline-block m-0"></p>
										</div>
										<div class="col-2 d-flex align-items-center">
											<input type="hidden" value="{{ other.id }}">
											<button class="btn btn-primary rounded-0 ">
												<i class="fas fa-cart-plus"></i>
											</button>
										</div>
									</div>
								</form>
								<div class="col-12">
									<p>{{ other.description }}</p>
									<ul>
										{% for type, feature in other.features %}
											<li class="row">
												<div class="col-4">
													{{ type }}
												</div>
												<div class="col-8">
													{{ feature }}
												</div>
											</li>
										{% endfor %}
									</ul>
								</div>
							</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
		</div>
		<div class="row calendar-middlebottom">
			<div class="col-6 calendar-middlebottom-left">
				<p class="calendar-middlebottom-left-text">
					<span class="font-weight-bold">Calendrier dans le thème et dans la couleur de votre entreprise :</span><br>
					Métiers de bouches, cavistes, fleuristes, décorateur...
					<br>
					<br>
					<span class="font-weight-bold">Une zone de « repiquage » est réservée à la mise en page de votre logo et de vos coordonnées.
						<br>
						Avec possibilité d’insertion de vos photos d’entreprise</span>
				</p>
				<div class="row">
					<div class="col-6 m-0">
						<img src="{{ asset('build/CAL_3.jpg') }}" alt="" class="img-fluid">
					</div>
					<div class="col-6 m-0">
						<img src="{{ asset('build/Cal_4.jpg') }}" alt="" class="img-fluid">
					</div>
				</div>
			</div>
			<div class="col-6 calendar-middlebottom-right">
				{% if customs is not null %}
					<ul class="list-group pt-5">
						{% for custom in customs %}
							<li class="list-group-item">
								<form action="" class="add-to-cart">
									<div class="row">
										<div class="col-4 d-flex align-items-center">
											<p class="word-wrap m-0">
												{{ custom.name }}
											</p>
										</div>
										{% if custom.options is not null %}
											{% set options = custom.options %}
											<div class="col-4 d-flex align-items-center">
												<select name="options-{{ custom.id }}" class="form-control options-select">
													{% for option in options %}
														<option data-price="{{ option.price }}" value="{{ option.id }}">{{ option.label }}</option>
													{% endfor %}
												</select>
											</div>
										{% endif %}
										<div class="col-2 d-flex align-items-center">
											<p class="price d-inline-block m-0"></p>
										</div>
										<div class="col-2 d-flex align-items-center">
											<input type="hidden" value="{{ custom.id }}">
											<button type="submit" class="btn btn-primary rounded-0">
												<i class="fas fa-cart-plus"></i>
											</button>
										</div>
									</div>
								</form>
										<div class="col-12">
											<p>{{ custom.description }}</p>
											<ul>
												{% for type, feature in custom.features %}
													<li class="row">
														<div class="col-4">
															{{ type }}
														</div>
														<div class="col-8">
															{{ feature }}
														</div>
													</li>
												{% endfor %}
											</ul>
										</div>
							</li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
