{% extends "front/base_front.html.twig" %}

{% block title %}
	Flyers | Oriflam Médias
{% endblock %}

{% block body %}
	<div class="container-fluid flyers">
		<div class="row flyers-top position-absolute justify-content-end">
			<div class="col-2">
				<img src="{{ asset('build/logo_oriflam.png') }}" alt="logo" class="img-fluid">
			</div>
		</div>
		<div class="row flyers-title justify-content-start mt-3">
			<div class="col-8 offset-2">
				<h1 class="flyers-title-text">Flyers</h1>
			</div>
		</div>
		<div class="row flyers-middle">
			<div class="col-6 flyers-middle-left">
				<div class="row flyers-middle-left-top">
					<div class="col-5 offset-1">
						<img src="{{ asset('build/Mosnes.jpg') }}" alt="" class="img-fluid mb-5">
						<img src="{{ asset('build/Affiche_amis_pierre.jpg') }}" alt="" class="img-fluid">
					</div>
					<div class="col-5">
						<img src="{{ asset('build/Affiche_amis_pierre.jpg') }}" alt="" class="img-fluid">
						<img src="{{ asset('build/Affiche_amis_pierre.jpg') }}" alt="" class="img-fluid">
					</div>
				</div>
			</div>
			<div class="row flyers-middle-right">
				<div class="col-8">
					{% if flyers is not empty %}
						<div class="flyers-middle-right-flyers">
							<p class="flyers-middle-right-flyers-title">
								Flyers
							</p>
							<ul class="list-group">
							{% for flyer in flyers %}
								<li class="list-group-item">
									<div class="row">
										<div class="col-6">
											<p>{{ flyer.name }}</p>
											<button class="btn btn-primary rounded-0">
												<i class="fas fa-cart-plus"></i>
											</button>
										</div>
										{% if flyer.options is not null %}
											{% set options = flyer.options %}
											<div class="col-6">
												<select name="options-{{ flyer.id }}" class="form-control">
													{% for option in options %}
														<option value="{{ option.id }}">{{ option.label }}
															{{ option.price }}</option>
													{% endfor %}
												</select>
											</div>
										{% endif %}
									</div>
								</li>
							{% endfor %}
							</ul>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
