{% extends 'front/base_front.html.twig' %}

{% block title %}
	{{ product.name }}
	| Oriflam Médias
{% endblock %}

{% block body %}
	<main class="container-fluid product">
		<section class="row">
			<div class="col-12 col-md-6">
				<img src="{{ asset('build/upload' ~ product.image) }}" alt="" class="w-100 product-image">
			</div>
			<div class="col-12 col-md-6">
				<h2 class="product-title">
					{{ product.name }}
				</h2>
				{% if product.options is not null %}
					{% set options = product.options %}
					{% for option in options %}
						<div class="d-block w-100">
							<input type="radio" id="{{ option.id }}" name="option" value="{{ option.id }}">
							<label for="{{ option.id }}">
								{{ option.label }}
								<span class="option-price">{{ option.price }}€</span>
							</label>
						</div>
					{% endfor %}
					<input type="hidden" value="{{ product.id }}">
					<button type="submit" class="btn btn-primary rounded-0">
						<i class="fas fa-cart-plus"></i>
						Ajouter au panier
					</button>
				{% endif %}
			</div>
		</section>
		<section class="product-assets">
			<div class="product-assets-title">
				<h3>Caractéristiques</h3>
			</div>
			<div class="product-assets-body">
				<p>{{ product.description }}</p>
				<ul>
					{% for type, feature in product.features %}
						<li class="row">
							<div class="col-4">
								{{ type }}
							</div>
							<div class="col-8">
								{{ feature }}
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
		</section>
	</main>
{% endblock %}
