{% extends 'admin/base_back.html.twig' %}

{% block title %}Editer la catégorie {{ category.label }}{% endblock %}

{% block body %}
<main class="container">
    <h1>Editer la catégorie {{ category.label }}</h1>

    {{ include('admin/category/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('category_index') }}">Retour à la liste</a>

    {{ include('admin/category/_delete_form.html.twig') }}
</main>
{% endblock %}
