<nav class="navbar bg-primary navbar-expand-md">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbar">
		<p class="address-block text-center">
			Service client <br>
			<span class="phone">
				02 38 23 77 62
			</span><br>
			45160 Olivet <br>
			<small>du lundi au vendredi de 9h à 18h</small>
		</p>
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="{{ path('home') }}">ACCUEIL
				</a>
			</li>
			<li class="nav-item">
				<a href="{{ path('calendars') }}" class="nav-link">
					CALENDRIERS
				</a>
			</li>
			<li class="nav-item">
				<a href="{{ path('agendas') }}" class="nav-link">
					AGENDAS
				</a>
			</li>
			<li class="nav-item position-relative">
				<a href="" class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					COMMUNICATION
				</a>
				<div class="dropdown-menu" aria-labelledBy="navbarDropdown">
					<a href="{{ path('communication') }}" class="dropdown-item">NOS SOLUTIONS</a>
					<a href="{{ path('booklets') }}" class="dropdown-item">BROCHURES</a>
					<a href="{{ path('flyers') }}" class="dropdown-item">FLYERS</a>
				</div>
			</li>
			<li class="nav-item">
				<a href="{{ path('books') }}" class="nav-link">
					BEAUX LIVRES
				</a>
			</li>
			<li class="nav-item">
				<a href="{{ path('contact') }}" class="nav-link">CONTACT</a>
			</li>
		</ul>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item ">
			{% if app.user %}
				<a href="{{ path('home') }}" class="nav-link stretched-link">Compte
					<br>
					client
					<i class="far fa-user"></i>
				</a>
			{% else %}
				<a href="{{ path('app_login') }}" class="nav-link stretched-link">
					Compte client
					<i class="far fa-user"></i>
				</a>
			{% endif %}
			</li>
			<li class="nav-item">
			{% if is_granted('ROLE_ADMIN') %}
				{% set route = 'order_index' %}
			{% else %}
				{% set route = 'cart' %}
			{% endif %}
				<a href="{{ path(route) }}" class="nav-link stretched-link">{% if is_granted('ROLE_ADMIN') %}Administration{% else %}Panier{% endif %}
					<i class="fas {% if is_granted('ROLE_ADMIN') %}fa-tools{% else %}fa-shopping-cart{% endif %}"></i>
				</a>
			</li>
		</ul>
	</div>
</nav>
