<nav class="navbar navbar-expand-md sticky-top">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a href="{{ path('home') }}" class="navbar-brand">
		<img src="{{ asset('build/logo_oriflam.png') }}" alt="logo" class="nav-logo img-fluid my-3">
	</a>
	<div class="collapse navbar-collapse" id="navbar">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="{{ path('home') }}">ACCUEIL
				</a>
			</li>
			<li class="nav-item position-relative">
				<a href="" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					NOS PRODUITS
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				{% for category in categories %}
					<a href="{{ path('category', {slug: category.slug}) }}" class="dropdown-item">{{ category.label|upper }}</a>
				{% endfor %}
				</div>
			</li>
			<li class="nav-item">
				<a href="{{ path('company') }}" class="nav-link">
					QUI SOMMES-NOUS ?
				</a>
			</li>
			<li class="nav-item">
				<a href="{{ path('contact') }}" class="nav-link">CONTACT</a>
			</li>
		</ul>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item ">
				{% if app.user %}
					<a href="{{ path('profile') }}" class="nav-link stretched-link">
						<i class="far fa-user"></i>
					</a>
				{% else %}
					<a href="{{ path('app_login') }}" class="nav-link stretched-link">
						<i class="far fa-user"></i>
					</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if is_granted('ROLE_ADMIN') %}
					{% set route = 'order_index' %}
				{% else %}
					{% set route = 'cart' %}
				{% endif %}
				<a href="{{ path(route) }}" class="nav-link stretched-link">
					<i class="fas {% if is_granted('ROLE_ADMIN') %}fa-tools{% else %}fa-shopping-cart{% endif %}"></i>
				</a>
			</li>
		</ul>
	</div>
</nav>
