{% extends "front/base_front.html.twig" %}

{% block title %}
	Panier | Oriflam Medias
{% endblock %}

{% block body %}
	<div class="container-fluid cart">
		<div class="row cart-top position-absolute justify-content-end">
			<div class="col-2">
				<img src="{{ asset('build/logo_oriflam.png') }}" alt="logo" class="img-fluid">
			</div>
		</div>
		<div class="cart-middle row">
			<div class="col-7 offset-1">
				<h1 class="cart-middle-title">Panier</h1>
				{% if cart is not null %}
					<ul class="list-group">
						{% for product in cart.products %}
							<li class="list-group-item">
								<div class="row cart-product">
									<div class="col-5 cart-product-name">
										<p>{{ product.name }}</p>
									</div>
									<div class="col-2 offset-5">
										{{ product.cost }}
										€ HT
									</div>
									<div class="col-12">
										<form method="post" action="{{ path('cart_delete', {'id': product.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
											<input type="hidden" name="_method" value="DELETE">
											<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
											<button class="btn"><i class="fas fa-trash-alt"></i> Retirer du panier</button>
										</form>
									</div>
								</div>
							</li>
						{% endfor %}
						{% for option in cart.options %}
							<li class="list-group-item">
								<div class="row cart-product">
									<div class="col-5 cart-product-name">
										<p>{{ option.product.name }}</p>
									</div>
									<div class="col-5">
										<p>{{ option.label }}</p>
									</div>
									<div class="col-2">
										{{ option.price }}
										€ HT
									</div>
									<div class="col-12">
										<form method="post" action="{{ path('cart_delete', {'id': option.id}) }}">
											<input type="hidden" name="_method" value="DELETE">
											<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ option.id) }}">
											<button class="btn"><i class="fas fa-trash-alt"></i> Retirer du panier</button>
										</form>
									</div>
								</div>
							</li>
						{% endfor %}
						<li class="list-group-item">
							<div class="row justify-content-end">
								<div class="col-4 text-end">
									<p>TOTAL :
										{{ cart.cost }}
										€ HT</p>
								</div>
							</div>
						</li>
					</ul>
					<form method="POST" action="https://paiement.systempay.fr/vads-payment/">
						{% for key, param in params %}
							<input type="hidden" name="{{ key }}" value="{{ param }}">
						{% endfor %}
						<input type="hidden" name="signature" value="{{ signature }}">
						<input type="submit" name="submitCart" value="Payer">
					</form>
				{% else %}
					<div class="col-7 offset-1">
						<p>
							{% if app.user is null %}
								Vous devez être
								<a href="{{ path('app_login') }}">connecté</a>
								pour accéder à votre panier.
							{% else %}
								Vous n'avez pas de produits dans votre panier.
							{% endif %}
						</p>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
