{% extends "front/user/base_profile.html.twig" %}

{% block title %}
	Editer le profil | Oriflam Médias
{% endblock %}

{% block content %}
	<h1>Editer mon compte</h1>
	{{ form_start(form) }}
	{{ form_row(form.email) }}
	{{ form_row(form.civility) }}
	{{ form_row(form.firstname) }}
	{{ form_row(form.lastname) }}
	{{ form_row(form.birthDate) }}
	{{ form_row(form.mobileNumber) }}
	<small>Ce numéro servira pour vous contacter en cas de problème sur votre commande</small>
	<p>
		Notre newsletter pour être au courant de tout, avant tout le monde
	</p>
	{{ form_row(form.newsletter) }}
	<button class="btn btn-primary signup-submit">
		ENREGISTRER
	</button>
	{{ form_end(form) }}
	<small>
		* Champs obligatoires
	</small>
{% endblock %}