{% extends "front/user/base_profile.html.twig" %}

{% block title %}
	Commande
	{{ order.transactionId }}
	| Oriflam Médias
{% endblock %}

{% block content %}
	<h1>Commande
		{{ order.transactionId }}</h1>
	<p>Payée avec :
		{{ order.paymentMode }}</p>
	<p>Coût total TTC :
		{{ order.cost * 1.20 }}€</p>
	<p>Statut :
		{% if order.status == "PENDING" %}
			En attente
		{% elseif order.status == 'PROCESSED' %}
			En cours d'envoi
		{% elseif order.status == 'SENT' %}
			Envoyé
		{% endif %}
	</p>
	<ul class="list-group">
		{% for product in order.products %}
			<li class="list-group-item">
				<div class="row order-product">
					<div class="col-5 order-product-name">
						<p>{{ product.name }}</p>
					</div>
					<div class="col-2 offset-5">
						{{ product.cost }}
						€ HT
					</div>
				</div>
			</li>
		{% endfor %}
		{% for option in order.options %}
			<li class="list-group-item">
				<div class="row order-product">
					<div class="col-5 order-product-name">
						<p>{{ option.product.name }}</p>
					</div>
					<div class="col-5">
						<p>{{ option.label }}</p>
					</div>
					<div class="col-2">
						{{ option.price }}
						€ HT
					</div>
				</div>
			</li>
		{% endfor %}
	</ul>
	{% if order.images %}
		<div class="row justify-content-center">
			<div class="col-12">
				<h2>Logo à ajouter</h2>
			</div>
			{% for image in order.images %}
				<div class="col-8">
					<a href="{{ asset('uploads/images/' ~ image.name ~ '.' ~ image.extension) }}" download>
						{% if image.extension == 'png' or image.extension == 'jpg' %}
							<img src="{{ asset('uploads/images/' ~ image.name ~ '.' ~ image.extension) }}" alt="" class="img-fluid">
						{% else %}
							Télécharger
							{{ image.name ~ '.' ~ image.extension }}
						{% endif %}
					</a>
				</div>
			{% endfor %}
		</div>
	{% endif %}
	{% if order.bat %}
		<div class="col-8 text-center">
			<a href="{{ asset('uploads/bat/' ~ order.bat) }}" class="btn btn-primary" download>Télécharger le BAT</a>
		</div>
	{% endif %}
{% endblock %}
